# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment & Secrets
.env
.env.*
*.env
*.keystore
*.jks
*.p12
*.key
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDEs & Editors
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
lib/generated_plugin_registrant.dart
doc/api/

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradleBuild/
android/.externalNativeBuild/
android/.cxx/
android/app/debug/
android/app/profile/
android/app/release/
android/app/sentry.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
*.xcuserdata

# macOS
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
